/* Helper Classes */

.spanOnClick{
	border-radius: 2.5%;
	background-color: rgba(1, 1, 1, 0.3);
}



/* Used to change background of navbar when scrolled below certain position */
/* .scroll{
	background-color: #A1572F;
  	color: #eef;
 }*/



/* Animations */


/* Need to add animations for different browsers so it can be viewed irrespective of the browser */
@keyframes opacityChange{
	from {
		opacity: 0;
	}

	to{
		opacity: 1.0;
	}
}

@keyframes comeFromDown{
	from {
		transform: translateY(100%);
	}

	to{
		transform: translateY(0%);
	}
}

@keyframes widthComplete{
	from {
		width: 0%;
	}

	to{
		width: 40%;
	}
}

@keyframes moveFromLeft{
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

@keyframes moveFromRight{
	from{
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

/* CSS For Elements */

body, html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size:  15px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	font-weight: :  400;
	line-height: 1.8em;
}

#container{
	display: flex;
	flex-direction: column;
}

section{
	width: 80%;
	min-height: 300px;
	margin:  0 auto;
	margin-top: 30px;
	z-index: 1;
	box-shadow: 20px 20px 50px 15px grey;
	border-radius: 1%;
}

.description{
	text-align: center;
	margin-top: 50px;
}

.headers{
	font-size: 18px;
	font-weight: bold;
}

article{
	display: flex;
	height: 400px;
	width: 90%;
	margin:  0 auto;
	margin-top: 20px;
	border:  1px solid grey;
	border-radius: 1%;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px grey;
	z-index: 2;
}


/* Generic CSS classes applicable to several id's and classes */

.companyExperience, .degreeExpansion, .projectDescription, .degreeCourses{
	width: 60%;
	display: flex;
	align-items: center;
	/* animation: moveFromRight 2s, opacityChange 3s; */
}

.companyInfo, .degreeInfo, .projectBasics, .degreeLevel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #378C3F;
	color: white;
	/* animation: widthComplete 2s, opacityChange 3s; */
}

.companyName, .degreeType, .projectName, .degreeLevel{
	font-size: 2em;
	text-align: center;
}

.degreeInfo, .projectBasics, .degreeLevel{
	width: 40%;
}

.degreeYear, .projectDuration{
	font-size: 1.1em;
}


/* CSS For Navbar */

#navbar{
	display: flex;
	justify-content: center;
	align-items: center;

	/* 

	might have to change position:  fixed and adjust positioning
	and display since position sticky doesn't work on older versions
	of IE 

	*/
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	height: 20%;
	/* background-color: #378C3F; */
	opacity: 1.0;
	z-index: 2;
	color: white;
	background: url('../images/backgroundPic.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	animation: opacityChange 3s;
}

#navbar > span{
	padding:  15px;
	margin: 15px;
	font-size: 20px;
}

#navbar > span:hover{
	border-radius: 2.5%;
	background-color: rgba(255, 255, 255, 0.3);
}


/* CSS for Introduction Section */

#introduction{
	display: flex;
	flex-direction: column;
	color: white;
	animation: opacityChange 3s;
}

#introduction{
	height: 65vh;
	width: 100vw;
	background: url('../images/backgroundPic.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#profilePicContainer{
	height: 40%;
	display: flex;
	justify-content: center;
}

#profilePic{
	align-self: center;
	margin-top: 30px;
	display: inline-block;
	height: 180px;
	width: 180px;
	border-radius: 50%;
}

#introduction > h1, #introduction > h3{
	text-align: center;
	height: 10%;
}

#buttonContainer{
	align-self: center;
	margin-top: 10px;
	height: 20%;
}

#buttonContainer > a{
	height: 10vh;
	margin: 10px;
	background-color: green;
	color: inherit;
	padding: 10px;
	border-radius: 2.5%;
	text-decoration: none;
}


/* CSS for About Section */

#aboutSection{
	display: flex;
	justify-content: space-evenly;
	/* animation: comeFromDown 2s, opacityChange 3s; */
}

#aboutSection > div{
	width: 45%;
}


/* CSS for Skills Section */
#skillsSection{
	min-height: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#skillsSection > div:nth-of-type(1){
	width: 45%;
}

#skillsSection > div:nth-of-type(2){
	width: 45%;
}


/* CSS for Experience Section */

.companyInfo{
	width: 40%;
	height: 100%;
}


/* CSS for Education Section*/
#educationSection > article{
	height: 200px;
}

.degreeExpansion{
	flex-direction: column;
	justify-content: center;
}

.universityName{
	color: #9A9A9A;
	font-size: 1.2em;
}

.universityDegree{
	font-size: 1.4em;
	text-align: center;
}


/* CSS for Coursework Section */
#courseworkSection > article{
	height: 200px;
}