body{
	margin: 0;
	padding: 0;
}

#container{
	display: flex;
	flex-direction: column;
}

#navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:  green;
	position: sticky;
}

#navbar > span{
	padding:  15px;
	margin: 15px;
	color: white;
	font-size: 20px;
}

.spanOnClick{
	border-radius: 2.5%;
	background-color: rgba(1, 1, 1, 0.3);
}
